@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-suit);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .metalic {
        background: linear-gradient(230deg, #484947, #333433, #2d2f2e, #313331);
        border-radius: var(--radius, 0.75rem);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .btn-primary {
        background-color: hsl(var(--muted));
        color: hsl(var(--muted-foreground));
        border: none;

        &:hover {
            background-color: hsl(var(--muted));
            opacity: 1;
            transform: none;
        }
    }

    .radio-group-primary {
        background-color: transparent;
        color: hsl(var(--highlighted));
        border: none;
    }

    .radio-item {
        @apply relative inline-flex items-center justify-center cursor-default;

        width: 0.8rem;
        height: 0.8rem;
        background-color: hsl(var(--background));
        border: hsl(var(--border));
        border-radius: 1rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        margin-top: 0.3rem;

        &[data-state='checked'] {
            background-color: hsl(var(--checked));

            span {
                display: none;
            }
        }
    }

    .hover-content {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer base {
    html {
        font-size: 12px;
    }

    @screen lg {
        html {
            font-size: 14px;
        }
    }

    @screen xl {
        html {
            font-size: 16px;
        }
    }

    :root {
        --background: 24 5.4% 63.9%;
        --foreground: 240 3.7% 15.9%;
        --card: 0 0% 100%;
        --card-foreground: 210 40% 98%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 25 5.3% 44.7%;
        --muted-foreground: 60 4.8% 95.9%;
        --accent: 24 5.4% 63.9%;
        --accent-foreground: 210 40% 98%;
        --highlighted: 156.2 71.6% 66.9%;
        --checked: 37.7 92.1% 50.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 24 9.8% 10%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.75rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
